<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" (submit)="PayPal($event)" >
					<span class="login100-form-avatar">
						<img src="/src/assets/img/paypal.png" alt="AVATAR">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Client Secret">
						<input class="input100" type="text" name="client_secret">
						<span class="focus-input100" data-placeholder="Client Secret"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Client Id">
						<input class="input100" type="text" name="client_id">
						<span class="focus-input100" data-placeholder="Client Id"></span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Plati
            </button>
					</div>
				</form>
			</div>
		</div>
	</div>

